label {
    display: inline;
}
input {
    display: inline;
}
.li_sortable {
    border: 1px solid #C3C3C3;
    margin: 2px;
    padding-top: 10px;
    width: 430px;
    display: block;
}
.li_sortable img{
    margin-left: 100px;    
    }
.add-row {
    display: block;
}
