<!DOCTYPE html>
{% load bootstrap_toolkit %}

{% load url from future %}


<html>
<head>
    {% bootstrap_stylesheet_tag %}
    <title>Lo último en encuestas!</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.pack.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
    {% block extra_head %}

    {% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="#">POLLS</a>

            <p class="navbar-text pull-right">
                {% if user.is_authenticated %} 
                    Hola! {% if user.get_full_name %} {{ user.get_full_name }} {% else %} {{ user.username }} {% endif %} | <a href="{% url 'polls:deslogueo' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'polls:logueo' %}">Iniciar Sesión</a>
                {% endif %}
            </p>
            <ul class="nav">
                <li class="dropdown"><a href="{% url 'polls:index' %}" class="dropdown-toggle" data-toggle="dropdown">Encuestas</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'polls:index' %}" >Lista Encuesta</a></li>  
                        {% if perms.polls.add_poll and perms.polls.add_choice %}
                            <li><a href="{% url 'polls:new_poll' %}" >Nueva Encuesta</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="{% url 'polls:results' %}">Resultados</a></li>
                <li><a href="{% url 'polls:more_voted' %}">Mas Votada</a></li>
                <li><a href="{% url 'polls:vote_average' %}">Promedio</a></li>
            </ul>
            
        </div>
    </div>
    {% if not user.is_authenticated %}
        <div class="alert">
            Debe estar logueado para poder votar.
        </div>
    {% endif %}
    <div class="hero-unit">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>