{% extends "polls/base.html" %}
{% load url from future %}

{% block content %}
    <h4>Encuestas</h4>
    {% if latest_poll_list %}
        <ul  class="nav nav-list">
        <div class="row">
        {% for poll in latest_poll_list %}             
            <li>
                <div class="span6">
                    <h5>
                        {{ poll.question }}
                        {% if perms.polls.puede_votar %}
                            <a href="{% url 'polls:vote' poll_id=poll.id %}"> Votar </a>
                        {% endif %}
                        {% if perms.polls.add_poll and perms.polls.add_choice %}
                            <a href="{% url 'polls:edit_poll' poll_id=poll.id %}">| Editar</a>
                        {% endif %}
                    </h5>
                </div>
                <div class="span6"><h5>{{ poll.pub_date }}</h5></div>
            </li>
        {% endfor %}
        </div>
        </ul>
    {% else %}
        <p>No hay encuestas.</p>
    {% endif %}

{% endblock %}
