{% extends "polls/base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block content %}   
<div id="pagina">
    <div id="logueo">
        <div  id="banda_superior"> 
                <h3>Acceso</h3>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table id="tabla_inicio" summary="Acceso Sepri">                
                <tr id="fila_uno_inicio">
                    <td class="texto">Usuario</td>
                    <td class="caja-input">
                            {{ form.username }}
                    </td>
                </tr>
                <tr id="fila_dos_inicio">
                    <td class="texto">Contrase&ntilde;a</td>
                    <td class="caja-input">
                        {{ form.password }}
                    </td>
                </tr>
                <tr id="advise">
                
                <td id="advise_line" >
                    {% if form.errors %}
                        Los datos ingreados no son válidos.
                    {% endif %} 
                </td>   
                </tr>
                <tr>
                    <td></td>
                    <td id="bt-entrar">
                        <input  type="submit" name="login" id="login"  value="Entrar" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}