{% extends "polls/base.html" %}
{% load url from future %}

{% block content %}
    <h4>Mas Votada</h4>
    {% if more_voted %}
        <ul  class="nav nav-list">
            <li><h5>{{ more_voted.poll.question }}: <span class="badge badge-success">{{ more_voted.total }} Votos</span></h5></li>
        </ul>
    {% else %}
        <p>No hay votos.</p>
    {% endif %}
{% endblock %}