{% extends "polls/base.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% load url from future %}
    
{% block extra_head %}
    <script type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'js/script_choices.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
{% endblock %}

{% block content %}   
    <h4>{{ poll.question }}</h4>
    <form id="myForm" action="" method="post">
        {% csrf_token %}
            <h5>Pregunta Encuesta</h5>   
            {{ form.question.errors }} 
            {{ form.question }}
            <h5>Opciones</h5>      
            {{ formset_choice_poll.management_form }}
            <ul id="sortable">
                {% for form in formset_choice_poll %}
                    <li class="li_sortable">
                        {% for field in form %}
                            {{ field }}
                        {% endfor %}                        
                    </li>
                {% endfor %}
             </ul>      
        <button name="guarda_poll" type="submit">Guardar</button>
    </form>
    <script type="text/javascript">
        $('#myForm ul li').formset({
            prefix: '{{ formset_choice_poll.prefix }}'
        });
        $('.li_sortable').append('<img width="50px" height="50px" src="{% static "img/move.png" %}">');
    </script>
{% endblock %}