{% extends "polls/base.html" %}
{% load url from future %}
{% load poll_tags %}

{% block content %}
    <h4>Resultado</h4>
    {% if polls %}
        {% for poll in polls %}
            <ul  class="nav nav-list">
                <h5><strong>{{ poll.question }}</strong>
                {% if perms.poll.puede_votar %}
                    <a href="{% url 'polls:vote' poll_id=poll.id %}"> Votar</a></h5>
                {% endif %}
                {% for choice in poll.choice_set.all %}
                    <li><h6>{{ choice.choice }}: <span class="badge badge-info">{{ choice.votes }} </span>{% progress_bar choice %}</h6>
                   </li>
                {% endfor %}
            </ul>
            <br>
        {% endfor %}
    {% else %}
        <p>No hay encuestas.</p>
    {% endif %}
{% endblock %}