{% extends "polls/base.html" %}
{% load url from future %}

{% block content %}
    <h4>Promedio de Votos por Encuesta.</h4>
    <ul  class="nav nav-list">
        <li><h4><span class="badge badge-success">{{ vote_average }} Votos</span></h4></li>
    </ul>
{% endblock %}