{% extends "polls/base.html" %}
{% load bootstrap_toolkit %}
{% load url from future %}

{% block content %}
    <h4>{{ poll.question }}</h4>

    <form action="{% url 'polls:vote' poll_id=poll.id %}" method="post">
        {% csrf_token %}

        {{ form.choice }}
        
        <button type="submit">Votar</button>
    </form>
{% endblock %}